@model Dictionary<string, List<SoccerLeagues.Entities.ModelsEntities.TeamStatisticsViewModel>>

@{
    ViewData["Title"] = Model.FirstOrDefault().Value.FirstOrDefault()?.LeagueName;
}

<h1>@ViewData["Title"]</h1>

<div id="matches-container"></div>
@foreach (var phaseStats in Model)
{
    <h2>@phaseStats.Key</h2>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Drużyny</th>
                <th>M</th>
                <th>Z</th>
                <th>R</th>
                <th>P</th>
                <th>BZ</th>
                <th>BS</th>
                <th>+/-</th>
                <th>Ostatnie mecze</th>
                <th>PKT.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teamStat in phaseStats.Value)
            {
                <tr>
                    <td>@teamStat.Position</td>
                    <td><button class="show-matches btn btn-primary" data-teamname="@teamStat.TeamName">@teamStat.TeamName</button></td>
                    <td>@teamStat.MatchesPlayed</td>
                    <td>@teamStat.Wins</td>
                    <td>@teamStat.Draws</td>
                    <td>@teamStat.Losses</td>
                    <td>@teamStat.GoalsScored</td>
                    <td>@teamStat.GoalsConceded</td>
                    <td>@(teamStat.GoalsScored - teamStat.GoalsConceded)</td>
                    <td>@teamStat.LastResults</td>
                    <td>@teamStat.Points</td>
                    <td>
                        <button class="toggle-favorite btn btn-success favorite-team" data-teamid="@teamStat.TeamId">Do ulubionych</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script src="~/js/script.js"></script>
}